@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  justify-content: center;
  background-color: whitesmoke;

  height: 100vh;
  margin: 0;
  transition: background 0.2s linear;
}
h1{
  display: flex;
  justify-content: center;
  color: #fff;

}


body.dark{
  background: #232c35;
}

.checkboxIn{
  opacity: 0;
  position: absolute;

}

.label{
  background-color:black;
  border-radius: 50px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  margin: 10px;
  transform: scale(1.5);
}
.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}
.checkboxIn:checked + .label .ball {
  transform: translateX(24px);
}

.bx-moon {
  color: #f1c40f;
}

.bx-sun {
  color: #f39c12;
}

p{
  display: flex;
  justify-content: center;
  font-size: xx-large;
  font-weight: bold;
  color: grey;
}

ul {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 20px;
}

.header button {
  position: absolute;
  right: 18%;
  margin-top: -30px;
}

.header i {
  font-size: 22px;
}
.to-do{
  margin-top: 40px;
  width: 60%;
  
}
.textInsert{
  border: none;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  width:90%;
}

.divInsert {
  padding: 10px;
  background-color: lightgray;
  border-radius: 10px;
  display: flex;
  box-shadow: 6px 5px 10px 0px grey;
}

.buttonToDo{
  width: 20%;
  background: transparent;
  border: none;
  cursor: pointer ;
  outline: none;
}

.bx-plus{
  font-size: 30px;
  margin-left: 10px;
  background-color: rgb(139, 14, 223);
  border-radius: 50px;
  padding: 5px;
  color: white;
}
.bxs-trash-alt{
  color: gray;
}

.divLi {
  margin-top: 20px;
  padding: 10px;
  background: lightgray;
  border-radius: 10px;
  box-shadow: 6px 5px 10px 0px grey;
  display: flex;
  align-items: center;
}

.divLi span {
  width: 80%;
  color: dimgray;
}

.divLi input {
  width: 10%;
  outline: none;
  accent-color: currentcolor;
}

.divLi i {
  font-size: 22px;
  color: brown;
}

li {
  list-style-type: none;
}

.line-through {
  text-decoration: line-through;
}

@media (max-width: 775px) {
  input {
    width: 70%;
  }

  .divInsert button {
    width: 30%;
  }

  i {
    font-size: 30px;
    padding: 0px;
  }

  p {
    font-size: x-large;
  }
}


